---
import Main from "../components/Main.astro";
---

<html lang="en">
 <head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="/favicon-32x32.png" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  <title>Newsletter sign-up form</title>
  <meta
   name="description"
   content="Sign up for our newsletter to stay updated with updates about our product."
  />

  <!-- Facebook Meta Tags -->
  <meta
   property="og:url"
   content="https://newsletter-signup-rosy.vercel.app/"
  />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Newsletter sign-up form" />
  <meta
   property="og:description"
   content="Sign up for our newsletter to stay updated with updates about our product."
  />
  <meta
   property="og:image"
   content="https://res.cloudinary.com/drxurk7lu/image/upload/v1711833131/newslettersignup/Newsletter_sign-up_form_12.10am_03-31_1_jtywmy.jpg"
  />

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="twitter:domain" content="newsletter-signup-rosy.vercel.app" />
  <meta
   property="twitter:url"
   content="https://newsletter-signup-rosy.vercel.app/"
  />
  <meta name="twitter:title" content="Newsletter sign-up form" />
  <meta
   name="twitter:description"
   content="Sign up for our newsletter to stay updated with updates about our product."
  />
  <meta
   name="twitter:image"
   content="https://res.cloudinary.com/drxurk7lu/image/upload/v1711833131/newslettersignup/Newsletter_sign-up_form_12.10am_03-31_1_jtywmy.jpg"
  />
 </head>
 <body class="bg-dark-slate-grey">
  <div
   id="body-container"
   class="min-h-screen md:flex md:items-center md:justify-center"
  >
   <Main />
  </div>
 </body>
</html>
