---
import "../global.css";
import Thankyou from "./Thankyou.astro";
let isSubmitted = false;
let emailFromUser = "";

if (Astro.request.method === "POST") {
 try {
  const data = await Astro.request.formData();
  const email = data.get("email");
  if (email) {
   isSubmitted = true;
   emailFromUser = email;
  }
  console.log(email);
 } catch (err) {
  console.error(err);
 }
}
---

<main class="">
 <div
  id="main-wrapper"
  class={`${isSubmitted ? "invisible hidden" : "visible"} text-dark-slate-grey bg-white h-screen md:h-min md:max-w-4xl md:mx-auto flex flex-col-reverse md:flex-row rounded-2xl md:p-4`}
 >
  <section
   id="content-section"
   class="mx-auto grow md:grow-0 grid grid-cols-1 items-start w-4/5 md:w-3/5"
  >
   <div class="md:w-3/4 md:mx-auto">
    <h1
     class="font-bold text-4xl md:text-5xl py-4 md:py-0 my-4 md:mb-2 md:mt-4"
    >
     Stay updated!
    </h1>
    <p class="py-2 md:py-2">
     Join 60,000+ product managers receiving monthly updates on:
    </p>
    <div id="list-updates" class="py-4 mt-4 md:mt-0">
     <ul class="space-y-6 list-image-[url(/images/icon-list.svg)] list-inside">
      <li>Product discovery and building what matters</li>
      <li>Measuring to ensure updates are a success</li>
      <li>And much more!</li>
     </ul>
    </div>

    <form method="POST" id="form">
     <fieldset class="flex flex-col items-start">
      <label for="email" class="font-bold text-sm py-3">Email address</label>
      <input
       type="email"
       name="email"
       class="border border-grey-color rounded-lg focus:ring-grey-color w-full px-4 py-2"
       required
      />
      <button
       type="submit"
       class="btn-global hover:bg-gradient-to-r from-tomato to-orange-500 hover:shadow-lg hover:shadow-tomato"
       >Subscribe to monthly newsletter</button
      >
     </fieldset>
    </form>
   </div>
  </section>

  <section id="image-section" class="grow-0 self-stretch">
   <picture>
    <source
     media="(max-width: 760px)"
     srcset="/images/illustration-sign-up-mobile.svg"
    />
    <source
     media="(min-width: 760.99px)"
     srcset="/images/illustration-sign-up-desktop.svg"
    />
    <img
     class="w-full"
     src="/images/illustration-sign-up-desktop.svg"
     alt="Newsletter signup illustration"
    />
   </picture>
  </section>
 </div>
</main>
<Thankyou isSubmitted={isSubmitted} emailFromUser={emailFromUser} />

<script></script>
