<main class="text-dark-slate-grey">
 <section id="content-section">
  <h1 class="font-bold text-4xl md:text-6xl py-6">Stay updated!</h1>
  <p>Join 60,000+ product managers receiving monthly updates on:</p>
  <div id="list-updates">
   <ul>
    <li>Product discovery and building what matters</li>
    <li>Measuring to ensure updates are a success</li>
    <li>And much more!</li>
   </ul>
  </div>

  <form method="post">
   <fieldset>
    <label for="email">Email address</label>
    <input type="email" name="email" required />
    <button type="submit">Subscribe to monthly newsletter</button>
   </fieldset>
  </form>
 </section>

 <section id="image-section"></section>
</main>
